.mask-wrapper {
  background-color: inherit;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}